<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Sener Sen</title>
  </head>
  <body>
    <div>
      <p>
        Şener Şen (born 26 December 1941) is a Turkish film and theatre actor
        who has won the Golden Orange for Best Actor twice for his roles in Mr.
        Muhsin (1985) and Lovelorn (2005), the Golden Orange for Best Supporting
        Actor for Çöpçüler Kralı (1977) and a Golden Orange Lifetime Achievement
        Award.
      </p>
    </div>
  </body>
</html>
